@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: none;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}
